$primary: #f99500;
$secondary: #c72727;

:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.list {
  padding: 0.5rem 0;

  li {
    border-bottom: #555 dotted 1px;
    width: 90%;

    a:hover {
      color: var(--primary-color) !important;
    }
  }
}

#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;

  &::before {
    content: '';
    background: url('./assets/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .showcase-content {
    z-index: 1;

    p {
      margin-bottom: 1rem;
    }
  }
}

#main-footer {
  background: var(--dark-color);
  color: #fff;

  img {
    width: 150px;
  }

  a {
    color: #fff;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding-top: 2rem;

    & > *:last-child {
      background: #444;
      grid-column: 1 / span 4;
      padding: 0.5rem;
      text-align: center;
      font-size: 0.75rem;
    }

    input[type='email'] {
      width: 90%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    input[type='submit'] {
      width: 90%;
    }
  }
}

#main-nav {
  background: var(--secondary-color);
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        padding: 1rem;
        font-size: 1.5rem;

        &.current {
          color: #fff;
          background: var(--primary-color);
        }
      }
    }
  }
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.card-flip {
  perspective: 1000px;

  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
}

.contact {
  margin: 5rem 0;
  background: linear-gradient(
      105deg,
      #383838 0%,
      rgba(56, 56, 56, 0.95) 50%,
      transparent 50%
    ),
    url('./assets/specials-1.jpeg') no-repeat center center/cover;

  input {
    width: 100%;
    color: #fff;
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #888;
    border-radius: 0;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;

    &:focus {
      background: transparent;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fff;
      border-bottom: 2px solid var(--color-primary);
    }
  }

  ::placeholder {
    color: #ccc;
  }
}

.section-title {
  font-size: 2rem;
}
